+++
title = "Chopin Research Solutions & Training Consultancy"
linkTitle = "Chopin-Research-Solutions-Training-Consultancy"
+++

{{% blocks/lead color="blue" %}}
<h1>Our expertise </h1>
<p>We provide expertise in the <b>Physics and Mechanics of Soft Materials and Complex Systems</b> to individuals, companies, organizations, education institutions and laboratories.</p>

<p>We have an internationally recognized expertise in <b>Soft Body Dynamics and Complex Fluid Manipulation</b>, <b>Rapid Prototyping and Surface Engineering</b>.</p>

{{% /blocks/lead %}}

{{< blocks/lead color="dark" >}}
<h1>Approaches and tools </h1>

{{% blocks/feature icon="fa fa-cogs" title="Soft Matter & Processing" %}}
We provide solutions to the development of new fabrication process involving soft materials (gels, elastomers, complex fluids, ...). </br> </br> </br> 
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-terminal " title="Code" %}}
</br> To get better insight of your system, we use Finite Elements analysis and customed code for modeling with Matlab.</br> </br> </br> </br> 
{{% /blocks/feature %}}


{{% blocks/feature icon="far fa-chart-bar" title="Data Science" %}}
</br> We provide customed analysis for diverse data type (2D and 3D images, time series, ...) using statistical analysis, digital image correlation, image segmentations, geometrical analysis.
{{% /blocks/feature %}}

{{< /blocks/lead >}}

{{< blocks/lead color="red" >}}
<h1>About us</h1>

<p>Chopin Research Solutions & Training Consultancy is led by Julien Chopin, PhD in Physics from <b>&Eacute;cole Normale Supérieure</b> (Paris). He is an internationally recognized researcher in Soft Matter science.</p>

<p>He has been invited to speak to International Physics and Engineering Research Conferences accross the world including at <b>MIT</b> (USA), <b>Harvard University</b> (USA), <b>&Eacute;cole Normale Supérieure de Lyon</b> (France), <b>Solvay Conference</b> (Belgium), <b>Instituto de Física Teórica do Natal</b> (Brasil), <b>Reunión Anual de la Asociación Física Argentina</b> :</p>


<p>He worked at the following institutions :  <b>Clark University</b>, <em>Physics department</em> (USA); Universidade Federal do Rio de Janeiro</b>, <em>Civil Engineering Department</em> (Brazil); <b>ESPCI</b>, <em>Soft Matter Science and Engineering Lab</em>, Paris (France); <b>Université Pierre et Marie Curie</b>, <em>Institut d'Alembert</em> (France); <b>Universidade Federal da Bahia</b>, <em>Physics Department</em> (Brazil).
{{< /blocks/lead>}}

{{< blocks/lead color="blue" >}}
<h1>Contact</h1>

<h2>Chopin Research Solutions </br>& Training Consultancy</h2>
<h3><i class="fas fa-envelope"></i> chopin.phys@gmail.com
</h3>
{{< /blocks/lead>}}
