header a {
  color: #404040;
}

ul li{
	display : block;
	text-align : left;
	line-height: 1.5em;
}

.page-heading h1 {
	text-align : center;
	color : white;
	padding-bottom : 0em;
}
	
h1 {
	text-align : left;
	color : #161E54;
	padding-bottom : 1.5em;
}

p {
	text-align : left;
}
	
body {
	background-color : rgb(230,230,230);
}

div.container.text-center.td-arrow-down {
	width : 75%;
}

.td-box--blue {
	background-color : #88E0EF;/* rgb(175,175,250);*/
	padding-top : 1em;
	padding-bottom : 2em;
	border-bottom : 5rem solid white;
}

.td-box--red {
	background-color : #FF5151; /*  rgb(214, 155, 194);*/
	padding-top : 1.5em;
	padding-bottom : 2em;
	border-bottom : 5rem solid white;
}

.td-box--red p, .td-box--red h1{
	color: rgb(255, 233, 233);
}


.td-box--dark {
	background-color : #FF9B6A;/* rgb(150,175,175);*/
	padding-top : 1.5em;
	padding-bottom : 2em;
	border-bottom : 5rem solid white;
}

.col-lg-4.mb-5.mb-lg-0.text-center {
	background-color : #ffceb6;/* rgb(150,175,175);*/
	margin : .0em;
	height : 100%;
	border : 1rem solid #FF9B6A;
} 

.container {
	width : 100%;
}

